
.tag-list__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;

    .tag-list__text {
        width: 100%;
        padding: 1rem;
        color: #0000ff;
        text-align: justify;
        border: 1px solid #4fb3ff;
        border-radius: 0.5rem;
        background-color: #dbefff;
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .tag-list__list {
        width: 100%;
        padding: 1rem;
        border: 1px solid #5fffca;
        border-radius: 0.5rem;
        background-color: #e3fff5;
        margin-bottom: 0.5rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

            .at-enter {
                opacity: 0;
                transform: translateX(6rem);
            }

            .at-enter-active {
                transition: all 400ms ease-in;
                opacity: 1;
                transform: translateX(0);
            }

            .at-enter-done {
                transform: translateX(0);
            }

            .at-exit {
                opacity: 1;
                transform: translateX(0);
            }

            .at-exit-active {
                transition: all 400ms ease-in;
                opacity: 0;
                transform: translateX(6rem);
            }

            .at-exit-done{
                opacity: 0;
            }

    }

    .cancel-btn {
        height: 2rem;
        border: 1px solid #4fb3ff;
        border-radius: 0.5rem;
        transition: all 0.3s ease-in-out;
        font-size: 1rem;
        padding: 0.4rem;
        background-color: #4fb3ff;
        color: #ffffff;

        &:hover {
            background-color: #008cff;
        }

        &:focus {
            color: #ffffff;
            border: 1px solid #008cff;
        }

        &:active {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }
    }
}





